body {
    font-family: Arial;
    background-color: #f4f4f4;
    margin: 0;
}

nav {
    background: #333;
    padding: 10px;
}

nav a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

h1 {
    padding: 10px;
}